.DS_Store
.project
.classpath
.settings/*
target/*
.sonar
.sass-cache
node_modules/

# Output files
src/main/webapp/.sencha_backup
src/main/webapp/build
/src/main/webapp/resources/css/app.css
/src/main/webapp/resources/css/index.css
/target
