.project
.classpath
.settings/*
target/*
.sonar

# Output files
src/main/webapp/lib/sencha1.1.1/arsnovaCombined.js
src/main/webapp/lib/sencha1.1.1/arsnovaCombined-debug.js
src/main/webapp/lib/sencha1.1.1/pkgs/arsnovaCombined.js
src/main/webapp/resources/css/arsnova_min.css
