@font-face {
	font-family: 'arsnova';
	src:url('fonts/arsnova.eot?2lv68g');
	src:url('fonts/arsnova.eot?#iefix2lv68g') format('embedded-opentype'),
		url('fonts/arsnova.woff?2lv68g') format('woff'),
		url('fonts/arsnova.ttf?2lv68g') format('truetype'),
		url('fonts/arsnova.svg?2lv68g#arsnova') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'arsnova';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-sign-in:before {
	content: "\e604";
}

.icon-chart:before {
	content: "\f012";
}

.icon-bullhorn:before {
	content: "\f0a1";
}

.icon-book:before {
	content: "\f02d";
}

.icon-unlock:before {
	content: "\f09c";
}

.icon-question:before {
	content: "\f128";
}

.icon-info:before {
	content: "\f129";
}

.icon-exclamation:before {
	content: "\f12a";
}

.icon-twitter:before {
	content: "\f081";
}

.icon-gear:before {
	content: "\e605";
}

.icon-home:before {
	content: "\e606";
}

.icon-renew:before {
	content: "\e608";
}

.icon-lock:before {
	content: "\e609";
}

.icon-play:before {
	content: "\e60a";
}

.icon-pause:before {
	content: "\e60b";
}

.icon-facebook:before {
	content: "\e60f";
}

.icon-googleplus:before {
	content: "\e611";
}

.icon-unlock2:before {
	content: "\e612";
}

.icon-prof:before {
	content: "\e613";
}

.icon-newsession:before {
	content: "\f044";
}

.icon-blog:before {
	content: "\f0f6";
}

.icon-copy:before {
	content: "\e92c";
}

.icon-cloud:before {
	content: "\e2b5";
}

.icon-cloud-download:before {
	content: "\e2b6";
}

.icon-cloud-upload:before {
	content: "\e2b7";
}

.icon-user:before {
	content: "\e614";
}

.icon-speaker:before {
	content: "\e615";
}

.icon-happy:before {
	content: "\e616";
}

.icon-sad:before {
	content: "\e617";
}

.icon-wink:before {
	content: "\e618";
}

.icon-shocked:before {
	content: "\e619";
}

.icon-close:before {
	content: "\e61a";
}

.icon-users:before {
	content: "\e600";
}

.icon-book2:before {
	content: "\e601";
}

.icon-presenter:before {
	content: "\e602";
}

.icon-ars:before {
	content: "\61";
}

.icon-nova:before {
	content: "\6e";
}

.icon-thm-full:before {
	content: "\e603";
}

.icon-radar:before {
	content: "\72";
}

.icon-thm:before {
	content: "\74";
}

