$thm-green: #80ba24;
$thm-grey: #4a5c66;
$thm-red: #971b2f;
$thm-darkblue: #012169;
$thm-orange: #f2a900;
$smiley-color: #FFCC00;

$twitter-color: #55ACEE;
$facebook-color: #3b5998;
$google-color: #D34836;

.thm-green {
	color: $thm-green;
}

.thm-grey {
	color: $thm-grey;
}

.thm-red {
	color: $thm-red;
}

.thm-darkblue {
	color: $thm-darkblue;
}

.thm-orange {
	color: $thm-orange;
}