
.embeddedPageElement {
	width: 100%;
	height:100%; 
	overflow: hidden; 
	-webkit-overflow-scrolling: touch;
}

.x-mask-inner {
	border-radius: 10px 10px 10px 10px;	
}

.x-carousel-indicator-horizontal {
	margin-bottom: 10px;
	
	&.x-carousel-indicator span {
		width: 0.9em;
		height: 0.9em;
		margin: 0.3em;
	}
}

.x-list {
	.x-scroll-container {
		background: transparent;
	}
}

.listCorrectItem {
	padding: 0 0.25em 0 0.2em;
}

.x-list-item-correct {
	color: white !important;
	background: $thm-green;
	border-radius: 10px;
}

.thm-lettering {
	color: $thm-green;
	font-weight: bold;
}

.feedbackStatisticButton {
	min-height: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.feedbackOkBackground .iconBtn {
	background: $thm-green;
}

.feedbackGoodBackground .iconBtn {
	background: $thm-orange;
}

.feedbackBadBackground .iconBtn {
	background: $thm-red;
}

.feedbackNoneBackground .iconBtn {
	background: $thm-grey;
	color: #000;
}

.feedbackStatisticButton.voteButton.smallerMatrixButtons .iconBtn {
	width: 70px;
	height: 70px;
	
	.iconBtnImg {
		margin: 11px 0 0 10.5px;
	}
}

.x-container.x-form,
.forwardListButton.caption {
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
}

.x-msgbox {
	min-width: 310px;
}

.x-loading-mask {
	background: transparent !important;
	
	.x-mask-inner {
		background: rgba(0,0,0,0.3) center center no-repeat;
		
		.x-mask-message {
			color: rgba(230,230,230,0.9);
			font-weight: normal;
		}
		
		.x-loading-spinner {
			-webkit-animation-duration: .6s;
			
			.x-loading-top {
				background: rgba(215,215,215,0.99);
				&:before { background: rgba(215,215,215,0.15); }
				&:after { background: rgba(215,215,215,0.9); }
			}
			
			.x-loading-left {
				background: rgba(215,215,215,0.7);
				&:before { background: rgba(215,215,215,0.8); }
				&:after { background: rgba(215,215,215,0.6); }
			}
			
			.x-loading-right {
				background: rgba(215,215,215,0.25);
				&:before { background: rgba(215,215,215,0.3); }
				&:after { background: rgba(215,215,215,0.2); }
			}
			
			.x-loading-bottom {
				background: rgba(215,215,215,0.4);
				&:before { background: rgba(215,215,215,0.5); }
				&:after { background: rgba(215,215,215,0.35); }
			}
		}
	}
}
