
.embeddedPageElement {
	width: 100%;
	height:100%; 
	overflow: hidden; 
	-webkit-overflow-scrolling: touch;
}

.x-mask-inner {
	border-radius: 10px 10px 10px 10px;	
}

.x-list {
	.x-scroll-container {
		background: transparent;
	}
}

.listCorrectItem {
	padding: 0 0.25em 0 0.2em;
}

.x-list-item-correct {
	color: white !important;
	background: $thm-green;
	border-radius: 10px;
}

.feedbackStatisticButton {
	min-height: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.feedbackOkBackground .iconBtn {
	background: $thm-green;
	
	.icon-renew {
		color: white;
	}
}

.feedbackGoodBackground .iconBtn {
	background: $thm-orange;
}

.feedbackBadBackground .iconBtn {
	background: $thm-red;
}

.feedbackNoneBackground .iconBtn {
	background: $thm-grey;
	color: #000;
}

.x-container.x-form,
.forwardListButton.caption {
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
}
