
.iconBtn {
	color: $thm-grey !important;
	background: white !important;
}

.thmlink,
.x-button .courseIcon,
.answerListButton .x-button-label,
.forwardListButton .x-button-label,
.standardListButton .x-button-label {
	color: $thm-grey !important;
}

.x-button-normal,
.x-button-filebrowse,
.x-segmentedbutton .x-button-normal {
	background-color: $thm-grey;
	border-color: $background !important;
	background-image: none;
	
	.x-button-label {
		color: white;
	}
	
	&.x-button-pressed {
		background-color: $thm-lightgrey;
	}
}

.x-segmentedbutton .x-button-normal {
	background-image: none !important;
}

.myCoursesList {
	.x-inner,
	.x-scroll-container {
		background-color: #E0E0E0;
	}
}

.forwardListButton, .standardListButton {
	border: 1px solid $background !important;
}

.gravure {
	text-shadow: none !important;
}

.x-fullscreen {
	background-color: $background !important; 
}

.x-form-label {
	color: $thm-grey;
	background-color: white;
	border-right: 1px solid $background;
	
	&.checkItem {
		border-right: none;
	}
}

.x-form-fieldset .x-field {
	border-bottom: 1px solid $background;
}

.x-list-item, .x-form-fieldset-title, .x-label, .roundedBox, .centerText {
	text-shadow: none !important;
	
	.x-innerhtml {
		color: $thm-grey !important;
	}
} 

.x-field-input .x-input-el {
	color: $thm-grey !important;
	-webkit-text-fill-color: initial !important;
}

.disableDefault {
	.thm-grey, .x-form-label span {
		color: $thm-grey !important;
		-webkit-text-fill-color: initial !important;
	}
}

.x-msgbox {
	color: $thm-grey;
	box-shadow: 0 0 8px 0;
	background: $background;
	border-color: $thm-grey;
	
	.x-title, 
	.x-msgbox-text {
		color: $thm-grey;
		text-shadow: none;
	}
	
	.x-msgbox-buttons .x-button-normal span {
		opacity: 1;
	}
}

.x-button.x-button-confirm,
.x-button.x-button-action,
.x-button.x-button-decline {
	background-color: $thm-green !important;
	background-image: none !important;
	border: none !important;
}

.x-toolbar-light {
	.x-title {
		color: #fff;
		text-shadow: none !important; 
	}
	
	.x-button, 
	.x-button.x-button-back:after, 
	.x-button.x-button-forward:after, 
	.x-field-select .x-input-text, 
	.x-field-select .x-input-text.x-button-back:after, 
	.x-field-select .x-input-text.x-button-forward:after, 
	.x-field-select:before {
		color: white;
		border: 1px solid #80ba24 !important;
		text-shadow: none !important;
		background: $thm-green !important;
	}
	
	.x-button.x-button-back:before,
	.x-button.x-button-forward:before {
		background: #80ba24;
	}	
}

.x-list,
.x-list-normal {
	.x-list-header {
		color: white !important;
		border: none !important;
		text-shadow: none !important;
		background-color: $thm-lightgrey !important;
		background-image: none !important;
		-webkit-box-shadow: none !important;
	}
	
	.x-list-item.x-item-selected.x-list-item-tpl,
	.x-list-item.x-item-selected .x-dock-horizontal {
		background-image: none;
		border-color: $thm-green;
		background-color: $thm-green;
	}
} 

.x-toolbar-light, 
.x-tabbar-dark {
	text-shadow: none !important;
	background: $thm-grey !important;	
	border: none !important;
}

.x-tabbar-dark.x-docked-bottom .x-tab-active .x-button-icon:before {
	color: $thm-green;
}

.x-tabbar-dark.x-docked-bottom .x-tab-active {
	background-image: none !important;
	background-color: transparent;
	box-shadow: none;
}

.x-tabbar-dark.x-docked-bottom .x-tab {
	text-shadow: none !important;
}

.x-tabbar-dark.x-docked-bottom .x-tab-active .icon-happy.x-button-icon:before,
.x-tabbar-dark.x-docked-bottom .x-tab-active .icon-wink.x-button-icon:before,
.x-tabbar-dark.x-docked-bottom .x-tab-active .icon-sad.x-button-icon:before,
.x-tabbar-dark.x-docked-bottom .x-tab-active .icon-shocked.x-button-icon:before {
	color: $smiley-color !important;
}

.x-tabbar .voteIcons {
	color: white;
}

.x-mask-inner {
	border-radius: 10px 10px 10px 10px;	
}